.noUi-handle {
  border-radius: 100%;
  width: 28px !important;
  height: 28px !important;
}

.noUi-handle:after, .noUi-handle:before {
  content: none;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  height: 100vh;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.list-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bodyContent {
  flex-grow: 1;
  overflow-y: auto;
}

#mainNav {
  flex-shrink: 0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
}