body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.list-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bodyContent {
  flex-grow: 1;
  overflow-y: auto;
}

#mainNav {
  flex-shrink: 0;
}